name: Simple CI - Hunter

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout do código
        uses: actions/checkout@v3

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      - name: Instalar dependências
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt || true

      - name: Teste rápido de sintaxe
        run: python -m py_compile app.py auth.py

      - name: Teste rápido de integração (simulado)
        run: echo "Simulando requisições... OK"

      - name: Finalização
        run: echo "Pipeline executado com sucesso!"
